{% extends "base.html" %}

{% block content %}
  <h2>My Posts</h2>

  {% if posts %}
    <ul>
      {% for post in posts %}
        <li>
          <strong>{{ post.title }}</strong> <br>
          {{ post.content|truncatewords:20 }} <br>
          <small>
            Created on {{ post.created_at|date:"M d, Y H:i" }} 
            {% if post.publish_now %}
              | <span style="color: green;">Posted Immediately</span>
            {% else %}
              | Scheduled for {{ post.scheduled_time|date:"M d, Y H:i" }}
            {% endif %}
          </small>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You have not created any posts yet.</p>
  {% endif %}
{% endblock %}
